* {
    margin: 5px 20px;
    padding: 1px 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
   cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    
}

.search-bar button input{
    display: block;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
}

.search-bar button {
    padding: 6px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    right: 40px;
}

.cart {
    display: flex;
    align-items: center;
    font-size: 1rem;
    right: 50px;
    position: relative;
}

.hero{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/CSSProject/image/banner11.jpg);
    margin: 5px 70px;
}

.hero h1{
    color: #3498db;
    font-size: 40px;
}

.hero p{
    letter-spacing: 10px;
    color: #e74c3c;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding:  0;
}

.categories{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: #3498db;
    color: #fff;
    top: 40px;
    cursor: pointer;
    padding: 2px 15px 3px 4px;
    font-family:Arial, Helvetica, sans-serif;
    left: 45px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #3498db;
}

.call{
    display: inline;
    text-align: right;
    position: relative;
    right: 170px;
}

.call img{
    width: 40px;
    position: relative;
}

.call p{
    font-style: italic;
    font-weight: lighter;
    
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    color: #e74c3c;
    margin-bottom: 15px;
}

.product-card button {
    padding: 10px 15px;
    background-color: #f3f5f7;
    color: rgb(44, 4, 4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

